@import "tailwindcss";

@theme {
  --color-light_display: #fff48f;
  --color-medium_display: #ffed4d;
  --color-dark_display: #e8d100;
  --font-landing: "Druk";
  --font-label: "B-Mono";
}

@font-face {
  font-family: "Druk";
  src: url("/fonts/DrukWide-Super-Trial.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "B-Mono";
  src: url("/fonts/IBMPlexMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  @keyframes dots {
    0%,
    20% {
      content: ".";
    }
    40% {
      content: "..";
    }
    60% {
      content: "...";
    }
    80%,
    100% {
      content: "";
    }
  }

  .animate-dots::after {
    content: "";
    animation: dots 1.5s steps(4, end) infinite;
  }
}
